h4{
    color: #EDCC26 !important;
}

.list-group-item:hover{
    background-color: rgb(159, 177, 231) !important;
}

.fix{
    margin-top: 120px !important;
}

.fix1{
    margin-top: 30px !important;
}

@keyframes hot {
    0%{
        color: rgb(68, 68, 68);
    }
    50%{
        color: red;
    }
    100%{
        color: rgb(68, 68, 68);
    }
}

.hot{
    color: red;
    animation: hot 1s ease-in-out infinite;
}


